<!-- header.component.html -->
<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo" (click)="navigateToHome()">
        <h1>Course Lister</h1>
      </div>
      <nav class="nav-menu">
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </nav>
      <div class="auth-buttons">
        <!-- <button class="btn btn-login">Login</button> -->
         <!-- Router Navigation in TypeScript is better approach altogether for flexibility -->
        <ng-container *ngIf="isAuthenticated$ | async; else notLoggedIn" >
          <button class="btn btn-signup" (click)="logOut()">Log Out</button>
        </ng-container>
        <ng-template #notLoggedIn>
          <button  *ngIf="signUpToggle" class="btn btn-signup" (click)="navigateToSignUp()">Sign In</button>
        </ng-template>
      </div>
    </div>
  </div>
</header>