<!-- header.component.html -->
<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo" (click)="navigateToHome()">
        <h1>Course Lister</h1>
      </div>
      <nav class="nav-menu">
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </nav>
      <div class="auth-buttons">
        <!-- <button class="btn btn-login">Login</button> -->
         <!-- Router Navigation in TypeScript is better approach altogether for flexibility -->
        <button class="btn btn-signup" (click)="navigateToSignUp()">Sign Up</button>
      </div>
    </div>
  </div>
</header>